<div class="header-parent">
    <nav class="header-container navbar navbar-expand-lg navbar-light bg-light">
        <div class="mainLogo">
            <span> <img src="./../../assets/header/Ipl-logo.png" height="75px"></span>
        </div>

        <div class="headerSocial d-flex">
            <a href="https://www.linkedin.com/company/interior-partnerships-limited/posts/?feedView=all" target="_blank">
                <img 
                (mouseout)="this.footerSocialsAssets?.linkedIn.src = './assets/header/linkedIn-icon.svg'" (mouseover)="this.footerSocialsAssets?.linkedIn.src = './assets/header/linkedIn-icon-active.svg'"
                [src]="this.footerSocialsAssets?.linkedIn.src">
            </a>
        </div>
    </nav>
</div>