<div class="footer-container d-flex justify-content-center footerGreyBG" *ngIf="checkScreen()">
    <div class="footer-parent flex-column h-100 w-100 d-flex">
        <div class="footer-top d-flex justify-content-between">
            <!-- <div class="footer-social d-flex">

                <a href="https://www.facebook.com/mayberryinvja/" target="_blank">
                    <img class="ml-0"
                    (mouseout)="this.footerSocialsAssets.facebook.src = './assets/footer/facebook-icon.svg'" (mouseover)="this.footerSocialsAssets.facebook.src = './assets/footer/facebook-icon-active.svg'"
                    [src]="this.footerSocialsAssets?.facebook.src">
                </a>

                <a href="https://www.instagram.com/mayberryinvja/?hl=en" target="_blank">
                    <img
                    (mouseout)="this.footerSocialsAssets?.instagram.src = './assets/footer/instagram-icon.svg'" (mouseover)="this.footerSocialsAssets?.instagram.src = './assets/footer/instagram-icon-active.svg'"
                    [src]="this.footerSocialsAssets?.instagram.src">
                </a>

                <a href="https://twitter.com/MayberryInv" target="_blank">
                    <img 
                    (mouseout)="this.footerSocialsAssets?.twitter.src = './assets/footer/twitter-icon.svg'" (mouseover)="this.footerSocialsAssets?.twitter.src = './assets/footer/twitter-icon-active.svg'"
                    [src]="this.footerSocialsAssets?.twitter.src">
                </a>

                <a href="https://www.linkedin.com/company/mayberry-investments-ltd" target="_blank">
                    <img 
                    (mouseout)="this.footerSocialsAssets?.linkedIn.src = './assets/footer/linkedIn-icon.svg'" (mouseover)="this.footerSocialsAssets?.linkedIn.src = './assets/footer/linkedIn-icon-active.svg'"
                    [src]="this.footerSocialsAssets?.linkedIn.src">
                </a>

            </div> -->
            <div class="footer-contact d-flex">
                <div class="contact-item">
                    <img src="./assets/footer/home.svg">
                    <span> The Forge, 3 Heron Hill, Belvedere, DA17 5ER </span>
                </div>
                <div class="contact-item">
                    <img src="./assets/footer/phone.svg">
                    <span> 0208 2947 070​</span>
                </div>
                <div class="contact-item mr-0">
                    <img src="./assets/footer/email.svg">
                    <span> 
                        mail@interiorpartnerships.com </span>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center footer-bottom">
            <div class="copyright-message">
                <!-- <span>© {{this.currentYear}} - Mayberry Investments Ltd. All rights reserved.</span> -->
            </div>
        </div>
    </div>
</div>
