<div [ngClass]="{'loading-css' : this.service.showloader}">
    <p-confirmDialog [style]="{ width: '20vw',background:'white' }" [baseZIndex]="10000">
        <ng-template pTemplate="footer">
            <button type="button" pButton icon="pi pi-times" label="Cancel" (click)="reject()"></button>
            <button type="button" pButton icon="pi pi-check" label="Yes" (click)="accept()"
                *ngIf="this.heading=='Delete Detail' || this.heading=='Upload Project' || this.heading=='Upload Project Description' || this.heading=='Update Wages'"></button>
        </ng-template>
    </p-confirmDialog>
    <div class="d-flex justify-content-center align-items-center mt-4">
        <div class="projectHeading">Upload / Delete Pay To</div>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-4">
        <div class="boxStyle mt-4" [formGroup]="this.addpayTo">
            <div class="d-block mt-4">
                <div class="d-flex mt-4">
                    <div class="width">
                        <p-dropdown [options]="payTo" filterMatchMode="startsWith" formControlName="pay_to"
                            optionLabel="pay_to_name" [filter]="true" filterBy="pay_to_name" [showClear]="true"
                            placeholder="Please Select Pay To"
                            (onChange)="setPayToId(this.addpayTo?.get('pay_to')?.value)">
                            <ng-template pTemplate="this.addpayTo?.get('pay_to')?.value">
                                <div class="country-item country-item-value selectdropdown marginRight"
                                    *ngIf="this.addpayTo?.get('pay_to')?.value">
                                    <div class="dropdownStyle">{{this.addpayTo?.get('pay_to')?.value}}</div>
                                </div>
                            </ng-template>
                            <ng-template let-detail pTemplate="item">
                                <div class="country-item">
                                    <div class="dropdownStyle">{{detail.pay_to_name}}</div>
                                </div>
                            </ng-template>
                        </p-dropdown>
                        <p *ngIf="this.submitted && !this.addpayTo?.get('pay_to')?.value" class="error">
                            Pay To is required</p>
                    </div>
                    <div>
                        <input type="text" class="selectdropdown marginleft" placeholder="Enter Pay To Code"
                            formControlName="pay_to_code">
                        <p *ngIf="this.submitted && !this.addpayTo?.get('pay_to_code')?.value" class="error marginleft">
                            Pay To Code is required</p>
                    </div>
                </div>
                <div class="mt-4">
                    <button class="mt-4 upload-btn"
                        (click)="this.confirm('Are you sure you want to delete the detail ?','Delete Detail')">Delete</button>
                </div>
            </div>
            <div class="inputLabel mt-4 cursor-pointor" (click)="navigatedToSignUp()">Don't have an Account? <span
                    class="spanColor cursor-pointor">Sign Up</span></div>
            <div class="spanColor cursor-pointor mt-4" (click)="navigatedToAccount()">Manage User Accounts</div>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-4">
        <div class="boxStyle mt-4 wid-btn" >
            <div class="d-flex justify-content-center align-items-center">
                <div class="blockHeading"> Add Wages Number</div>
            </div>
            <div class = "d-flex justify-content-left align-items-left mt-4">
           
                <div class="wageNumberHeading" [formGroup]="this.editForm" >Enter Number : <input type="text" class="selectdropdown marginleft" placeholder="Enter Wage Number" formControlName="wage-number">
                </div>
                <!-- <div>
                    <p *ngIf="this.wages_submitted && !this.editForm?.get('wage-number')?.value" class="error marginleft">
                    Wage Number is required !</p></div> -->
            </div>
            <div class="mt-4">
                <button class="mt-4 add-wages-btn"
                    (click)="this.confirm('Are you sure you want to update the wage number ?','Update Wages')">Update Wage Number</button>
            </div>
            <div class="spanColor cursor-pointor mt-4">The Current Wage number is:<span
                class="spanColor"> {{this.editForm?.get('wages-no')?.value}} </span></div>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-4">
        <div class="boxStyle mt-4 wid-btn">
            <button class="btnStyle w-100"><label class="cursor-pointer m-0 upload-btn" for="upload-doc">Upload PayTo</label></button>
            <input #documentInput (change)="this.handleFileUpload($event)" type="file" id="upload-doc" class="d-none" name="avatar">
            <p *ngIf="this.errorMessage && !this.filename" class="error">{{this.errorMessage}}</p>
            <div class="d-flex mt-4 justify-content-between" *ngIf="this.filename">
                <div class="mt-4 box-container">
                    <div class="spanStyle">
                        <span><img src="./../../assets/image_icon_document_pic_512x512.png" width="20px" class="mr"></span>{{this.filename}}</div>
                    <div class="textStyle cursor-pointer" (click)="delete()">X</div>
                </div>
                <div class="d-flex mt-4">
                    <button class="uploadFile" disable="!this.filename" (click)="confirm('Are you sure you want to upload the project ?','Upload Project')">Upload</button>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-4">
        <div class="boxStyle mt-4 wid-btn">
            <button class="btnStyle w-100"><label class="cursor-pointer m-0 upload-btn" for="upload-doc-description">Upload Main Description & Sub Description</label></button>
            <input #documentInput (change)="this.handleFileUploadDescription($event)" type="file" id="upload-doc-description" class="d-none" name="avatar">
            <p *ngIf="this.errorMessage && !this.filenameDescription" class="error">{{this.errorMessage}}</p>
            <div class="d-flex mt-4 justify-content-between" *ngIf="this.filenameDescription">
                <div class="mt-4 box-container">
                    <div class="spanStyle">
                        <span><img src="./../../assets/image_icon_document_pic_512x512.png" width="20px" class="mr"></span>{{this.filenameDescription}}</div>
                    <div class="textStyle cursor-pointer" (click)="deleteDescription()">X</div>
                </div>
                <div class="d-flex mt-4">
                    <button class="uploadFile" disable="!this.filenameDescription" (click)="confirm('Are you sure you want to upload the Description ?','Upload Project Description')">Upload</button>
                </div>
            </div>
        </div>
    </div>
</div>