.inner-card {
    padding: 30px 35px 35px 30px;
    box-shadow: 0 0 10px #ccc;
    border-radius: 25px;
    border: 2px solid #fbf8f8;
    background-color: rgb(255, 255, 255);
}

.page {
    background-color: rgba(203,227,254,255);
    width: 1900px;
    height: 847px;
}

.selectdropdown1 {
    cursor: pointer;
    word-wrap: break-word;
    line-height: 1em;
    white-space: normal;
    font-weight: 500;
    outline: 0;
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
    /* min-width: 14em; */
    min-height: 1.71428571em;
    background: #ffffff;
    display: inline-block;
    padding: .38571429em 0.1em .38571429em 0.5em;
    color:#000000;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 3px solid rgba(0, 2, 4, 0.15);
    border-radius: .28571429rem;
    -webkit-transition: width .1s ease, -webkit-box-shadow .1s ease;
    transition: width .1s ease, -webkit-box-shadow .1s ease;
    transition: box-shadow .1s ease, width .1s ease;
    transition: box-shadow .1s ease, width .1s ease, -webkit-box-shadow .1s ease;
}

.selectdropdown1:disabled {
    background: #cfd4d1;
    color: #6f7070;
}

.projectHeading {
    font-size: 2rem;
    font-weight: bold;
    color: #096ead;
    text-decoration: underline;
}

.removeText{
    cursor: pointer;
    color: red;
    font-weight: 600;
    margin-right: 7em;
}

.addButton{
    color: rgb(105, 156, 228);
    background: white;
    font-weight: 600;
    border-radius: 12px;
    border: 2px solid;
}

.align{
    text-align: center !important;
}