.upload-btn {
    width: 440px;
    color: white;
    background-color: #096ead;
    border: none;
    padding: 0.7em;
    font-size: 18px;
    border-radius: 12px;
    font-weight: 600;
}

.colorRed {
    background-color: red !important;
    border: none;
}


.width {
    width: 400px;
}

.marginPosition {
    margin-left: 1em !important;
}

.inputLabel {
    font-size: 1vw;
    color: black;
    font-weight: 600;
    margin-bottom: 0!important;
}

.projectHeading {
    font-size: 3rem;
    font-weight: bold;
    color: #096ead;
}

.uploadHeading {
    font-size: 1.2rem;
    font-weight: bold;
    color: #096ead;
    margin-left: 8em;
}

.downloadHeading {
    font-size: 1.2rem;
    font-weight: bold;
    color: #096ead;
    margin-left: 7em;
}

.spacingBtn {
    padding: 4em 6em;
}

.btnStyle {
    background-color: white;
    border: none;
}

.box-container {
    border: 2px solid #8d8e8f;
    display: flex;
    width: 400px;
    justify-content: space-between;
    padding: 7px 10px;
    font-size: 16px;
    font-weight: 500;
}

.uploadFile {
    background: black;
    color: white;
    width: 150px;
    padding: 4px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 12px;
}

.systemManagement_1 {
    width: 190px;
    color: white;
    background-color: #096ead;
    border: none;
    font-size: 18px;
    padding: 4px;
    border-radius: 12px;
    font-weight: 600;
}

.systemManagement_2 {
    width: 225px;
    color: white;
    background-color: #096ead;
    border: none;
    font-size: 18px;
    padding: 4px;
    border-radius: 12px;
    font-weight: 600;
}

.textStyle {
    color: red;
}

.boxStyle {
    box-shadow: 0 0 10px #ccc;
    padding: 0.5em;
    border-radius: 25px;
    border: 2px solid #357ace;
    width: 475px;
    height: 297px;
    background-color: rgb(255, 255, 255);
}

.spanStyle {
    color: #7993A8;
}

.uploadSpan {
    margin-left: 8em;

}

.managementSpan {
    margin-left: 6em;

}

.downloadSpan {
    margin-left: 11em;
    margin-bottom: 1em;
}

.book-wagesSpan {
    margin-left: 7.5em;
    margin-bottom: 1em;
}

.mr {
    margin-right: 4px;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
    .upload-btn {
        width: 350px;
    }
    .box-container {
        width: 350px;
    }
    .boxStyle {
        box-shadow: 0 0 10px #ccc;
        padding: 1em
    }
}