/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "./../node_modules/primeng/resources/themes/saga-blue/theme.css";

tr>th {
    padding: 0.571em 0.857em;
    border: 0px solid var(--light-grey) !important;
    font-weight: 550 !important;
    color: var(--asset-text-color);
    background-color: #f5f6f7;
    box-shadow: none !important;
    font-family: "SF UI Display Bold";
    height: 55px;
}

tr {
    background-color: #fff;
    color: #7993A8 !important;
    transition: background-color 0.2s, box-shadow 0.2s;
    height: 45px;
    border: 1px solid #a8a7a78c !important;
}

.body .ui-table .ui-table-thead>tr>th,
tr>.header-stock-color {
    background-color: var(--header-color) !important;
}

.ui-table-tbody>tr {
    background-color: #ffffff !important;
}

.layout-content .content-section.implementation {
    background-color: #f8f9fa;
    color: #495057
}

.p-component-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    transition-duration: 0.2s;
}

.red-Border {
    border: 1.5px solid red;
}

.backstyle {
    padding: 8em;
    overflow-y: auto;
    background-image: url(./assets/image.png);
}

.ui-table-tbody :hover {
    background-color: #e7e7e7 !important;
}

.table-style {
    box-shadow: 0 0 10px #ccc;
    text-align: left;
}

table {
    width: 100%;
    border: 1px solid #e2e2e2;
}

tr>td {
    background-color: #fff;
    border: 0px solid var(--light-grey) !important;
    transition: box-shadow 0.2s !important;
    font-family: "SF UI Display Medium";
}

 :host ::ng-deep .ui-table-customers {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.cursor-pointer {
    cursor: pointer;
}

.selectdropdown {
    cursor: pointer;
    word-wrap: break-word;
    line-height: 1em;
    white-space: normal;
    font-weight: 600;
    outline: 0;
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
    min-width: 14em;
    min-height: 2.71428571em;
    background: #fff;
    display: inline-block;
    padding: .78571429em 2.1em .78571429em 1em;
    color: rgba(0, 0, 0, .87);
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid rgba(34, 36, 38, .15);
    border-radius: .28571429rem;
    -webkit-transition: width .1s ease, -webkit-box-shadow .1s ease;
    transition: width .1s ease, -webkit-box-shadow .1s ease;
    transition: box-shadow .1s ease, width .1s ease;
    transition: box-shadow .1s ease, width .1s ease, -webkit-box-shadow .1s ease;
}

.loading-css {
    opacity: 0.2;
}

.p-multiselect .p-multiselect-label.p-placeholder {
    color: black !important;
    font-weight: 600 !important;
}

.error {
    color: red;
    font-size: 14px;
    font-weight: 500;
}

.p-multiselect .p-multiselect-label {
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    padding: .78571429em 0.1em .78571429em 0.5em !important;
}

.p-multiselect {
    margin-top: 0.5rem;
    margin-right: 1rem;
}

.p-multiselect .p-multiselect-trigger {
    background: transparent;
    color: #6c757d;
    width: 1.3rem !important;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
}

.p-multiselect {
    width: 16em;
}

.p-multiselect:not(.p-disabled):hover {
    border-color: #ced4da !important
}

.p-button {
    padding: 0.5rem 0.5rem !important;
}

.p-dropdown {
    width: 100%;
    height: 3em;
    color: black !important;
    font-weight: 600 !important;
}

.p-disabled {
    background: #adb3af !important;
}

.p-hidden-accessible input {
    color: black !important;
}

.p-dropdown .p-dropdown-clear-icon {
    display: none;
}


/* .p-dropdown:not(.p-disabled):hover {
    border: 1px solid rgba(34, 36, 38, .15) !important;
    border-color: none !important;
    box-shadow: none !important;
} */

.p-dropdown .p-dropdown-label.p-placeholder {
    color: black !important;
}

@media screen and (max-width: 1400px) and (min-width: 1279px) {
    .p-multiselect {
        width: 12em;
    }
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
    .p-multiselect {
        width: auto;
        font-size: 14px !important;
    }
    .p-button {
        font-size: 14px !important;
        padding: 0.1rem 0.1rem !important;
    }
}

@media screen and (max-width: 768px) {
    .p-multiselect {
        width: 100%;
    }
    .p-button {
        font-size: 14px !important;
    }
}

#pr_id_2 .p-datatable-thead>tr>th>.visible,
#pr_id_2 .p-datatable-tfoot>tr>td>.visible {
    display: block !important;
}

body .p-datepicker:not(.p-datepicker-inline) {
    top: 45px !important
}

body .p-datepicker table td>a.p-state-active, body .p-datepicker table td>span.p-state-active {
    color: #fff;
    background-color: #007ad9;
}


body .p-datepicker table td > span.p-highlight {
    color: #fff;
    background-color: #007ad9;

}

body .p-datepicker table td > span {
    width: 2rem;
    height: 1.5rem;
    border-radius: 15%;
    transition: box-shadow 0.5s;
    border: 1px solid transparent;
}

body .p-datepicker .p-datepicker-header {
    padding: 0.2rem;
    color: #205d9b;
    background: #ffffff;
    font-weight: 600;
    margin: 0;
    border-bottom: 1px solid #dee2e6;
    border-top-right-radius: 1px;
    border-top-left-radius: 1px;
}

body .tr>th {
    padding: 0.571em 0.857em;
    border: 0px solid var(--light-grey) !important;
    font-weight: 450 !important;
    color: var(--asset-text-color);
    background-color: #f5f6f7;
    box-shadow: none !important;
    font-family: "SF UI Display Bold";
    height: 35px;
}

body .p-datepicker table td.p-datepicker-today > span.p-highlight {
    color: #fff;
    background-color: #007ad9;
}
