.inner-card {
    padding: 30px 35px 35px 30px;
    box-shadow: 0 0 10px #ccc
}

.projectHeading {
    font-size: 3rem;
    font-weight: bold;
    color: #096ead;
}

.borderBox {
    border: 1px solid #a8a7a78c;
}

.boxStyle{
    flex-direction: column;
    /* margin-top: 2px; */
}

.color-grey {
    color: black;
    font-weight: 600;
}

.font11 {
    font-size: 11px !important;
}

.font22 {
    font-size: 18px;
}

.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-15 {
    width: 15%;
}

.editOption {
    color: grey;
    border: 2px solid grey;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 14px;
    background-color: white;
}

.delete {
    color: red;
    border: 2px solid red;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 6px;
    background-color: white;
}

.backGround {
    height: 700px;
    background-color: #fcfcfc;
}

.finalSubmit {
    background: white;
    border: 2px solid #096ead;
    width: 220px;
    height: 2.2em;
    color: #096ead;
    font-size: 16px;
    font-weight: 600;
}

.sub-total {
    color: black;
    font-weight: bold;
    padding: 10px;
    margin-right: 4.5em;
}

.sub-total-value {
    color: black;
    font-weight: 600;
    padding: 10px;
    margin-right: 12em;
}