.inner-card {
    padding: 30px 35px 35px 30px;
    box-shadow: 0 0 10px #ccc
}

.projectHeading {
    font-size: 3rem;
    font-weight: bold;
    color: #096ead;
}

.modalBg {
    background: white;
    width: 450px;
    height: 250px;
    border-radius: 25px;
}

.id_head {
     padding: 0.5vw; 
}

.butSpecs {
    width: 80%;
    margin-left: 65px;
}

.cancel_grey {
    border: 1px solid #7993A8;
    background-color: #7993A8;
    color: white;
    width: 45%;
}

.submitProcess {
    border: 1px solid #319EE2;
    background-color: #319EE2;
    color: white;
    width: 60%;
}

.id_heading {
    font-weight: bold;
    font-size: 20px;
    color: #096ead;
    margin-left: 7.5em;
}

.wagesDate {
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    padding: 3.5vw; 
}


.input-legend {
    background: #fff;
    position: relative;
    font-size: 13px;
    width: fit-content;
    display: inline-table;
    padding: 0 5px 0 5px;
    z-index: 1;
}

.p-calendar{
    top :145px
}

.outlineModal {
    border: 2px solid #96A3AA;
    width: 450px;
    height: 225px;
    border-radius: 0.25rem;
}

.borderBox {
    border: 1px solid #a8a7a78c;
}

.boxStyle{
    flex-direction: column;
    /* margin-top: 2px; */
}

.color-grey {
    color: black;
    font-weight: 600;
}

.font11 {
    font-size: 11px !important;
}

.font22 {
    font-size: 18px;
}

.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-15 {
    width: 15%;
}

.editOption {
    color: grey;
    border: 2px solid grey;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 14px;
    background-color: white;
}

.delete {
    color: red;
    border: 2px solid red;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 6px;
    background-color: white;
}

.backGround {
    height: 700px;
    background-color: #fcfcfc;
}

.finalSubmit {
    background: white;
    border: 2px solid #096ead;
    width: 220px;
    height: 2.2em;
    color: #096ead;
    font-size: 16px;
    font-weight: 600;
}

.finalSubmitSecond {
    background: white;
    border: 2px solid #096ead;
    width: 220px;
    height: 2.2em;
    color: #096ead;
    font-size: 16px;
    font-weight: 600;
    margin-left: 1em;
}

.sub-total {
    color: black;
    font-weight: bold;
    padding: 10px;
    margin-right: 4.5em;
}

.sub-total-value {
    color: black;
    font-weight: 600;
    padding: 10px;
    margin-right: 12em;
}

/* :host ::ng-deep .p-calendar .p-datepicker {
    min-width: 100%;
    top: 45px;
} */